@import url(./global.css);
@import url(./components/poke-picture.css);
@import url(./components/card.css);
@import url(./components/content.css);

body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-direction: column;
}

#logo{
    width: 10em;
}

header{
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
    background-color: azure;
}

@media (max-width: 500px) {
    #content{
        width: 90%;
    }

    .picture{
        width: 7.5em;
    }

    #content{
        gap: 0.8em;
    }

    .picture > h1{
        font-size: 0.8em;
    }

    #card{
        width: 100%;
        height: 100vh;
    }

    .bottom-content{
        flex-direction: column;
        gap: 2em;
        text-align: center;
    }

    .line-bottom{
        transform: rotate(0deg);
    }
}

