@import url(./global.css);
@import url(./components/search-bar.css);

body{
    background-color: red;
}

#poke-logo{
    width: 18em;
}

#poke-logo:hover{
    cursor: pointer;
}

#poke-search{
    display: none;
}

#search{
    display: none;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

main > img {
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#show-informations{
    background-color: white;
    width: 80%;
    height: 70vh;
    border-radius: 10px;
    display: flex;
}

#show-informations > aside{
    width: 35%;
    padding: 2em;
    border: 3px solid black;
}

#show-informations > aside:first-child{
    border-radius: 10px 0 0 10px;
}

#show-informations > aside:last-child{
    border-radius: 0 10px 10px 0;
}

.basic-info > img{
    width: 10em;
}