@import url(./global.css);
@import url(./components/search-bar.css);

body{
    background-color: red;
}

#poke-logo{
    width: 18em;
}

#poke-logo:hover{
    cursor: pointer;
}

#poke-search{
    display: none;
}

#search{
    display: none;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

main > img {
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#show-informations{
    background-color: white;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    flex-direction: column;
}

.poke-image{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.basic-info > img{
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
}

.basic-info{
    z-index: 10000;
}

.line{
    width: 35em;
    height: 2px;
    background-color: red;
    position: relative;
    bottom: 3.5em;    
}

.poke-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-aside{
    width: 10em;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
}

@media (max-width: 500px) {
    #show-informations{
        width: 85%;
        height: 100vh;
        margin-bottom: 2em;
    }

    .line{
        width: 15em;
    }

    #poke-logo{
        width: 10em;
    }

    .poke-content{
        flex-direction: column;
        gap: 2em;
        align-items: start;
    }

    .line-aside{
        transform: rotate(0deg);
        
    }
}