#card{
    background-color: white;
    width: 70vh;
    height: 80vh;
    position: absolute;
    border-radius: 10px;
    border: 5px solid red;
}

.top-content{
    display: flex;
    justify-content: center;
    width: 20em;
}

.style{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#close{
    border: none;
    background-color: transparent;
}

#close{
    cursor: pointer;
}

#close > img{
    width: 3em;
}

#poke-image{
    display: flex;
    width: 9em;
    background-color: white;
    border: 3px solid red;
    border-radius: 50%;
    position: absolute;
}

.line {
    width: 70%;
    height: 2px;
    background-color: red;
    position: absolute;
}

#basic-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 1em;
}

.bottom-content{
    display: flex;
    align-items: center;
    width: 20em;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8em;
}

.line-bottom{
    width: 50%;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
}


