.poke-type-normal{
    height: 85%;
    width: 25%;
    background-color: transparent;
    border: 7px solid gray;
    border-radius: 10px;
    order: 2;
}

.poke-type-fire{
    height: 85%;
    width: 25%;
    background-color: transparent;
    border: 7px solid rgb(255, 136, 0);
    border-radius: 10px;
    order: 1;
}

.poke-type-water{
    height: 85%;
    width: 25%;
    background-color: transparent;
    border: 7px solid rgb(0, 132, 255);
    border-radius: 10px;
    order: 3;
}